# dependencies
/node_modules

# testing
/coverage

# build output
/dist
/.next

# extension packaging
*.crx
*.zip

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*

# typescript
*.tsbuildinfo
